.App {
    height: 100vh;
    transition: all .3s ease-in-out;
}

.inline-input .mdi {
    color: #fff;
    padding: 0.2rem 0.5rem 0 0;
}

.location-input {
    display: flex;
    align-items: flex-start;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    max-width: 16rem;
    outline: none;
    padding-bottom: .3rem;
}

/* .main-display {
    align-items: flex-start;
    display: flex;
    justify-content: start;
    margin: .5rem 0 .5rem 0;
}

.main-info {
    align-items: flex-start;
    display: flex;
    justify-content: start;
    order: 0;
} */

.temp-measurement {
    color: #333;
    font-size: 5rem;
    font-weight: 500;
    line-height: .85;
}

.temp-unit {
    vertical-align: top;
}

.sub-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 0 0 .8rem;
    order: 1;
}

.sub-info-title {
    font-size: 1.15rem;
    margin: 0 0 .3rem 0;
    text-align: start;
}

.sub-info-text {
    font-size: .7rem;
    color: #333;
    margin: 0 0 .4rem 0;
    text-align: start;
}

.sub-info-text .max-temp {
    /*     font-weight: 700; */
    margin: 0 .5rem 0 -.1rem;
}

.selection-panel {
    margin: 1.8rem 0 1.8rem -.6rem;
}

.selection-row {
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: .2rem 0 0 0;
    flex-direction: row;
}

.selection-days {
    color: #333;
    font-size: .7rem;
    font-weight: 700;
    width: 3.5rem;
}

.selection-weather {
    color: #333;
    font-size: .7rem;
    width: 3.5rem;
}

.selection-icons {
    color: #333;
    font-size: 1.7rem;
    width: 3.5rem;
}

.selected {
    color: #fff;
    transition: all .3s ease-in-out;
}


.clear {
    background-image: linear-gradient(0deg, #b3e5fc, #29b6f6);
}

.snow {
    background-image: linear-gradient(0deg, #b2ebf2, #26c6da);
}

.rain {
    background-image: linear-gradient(0deg, #c5cae9, #5c6bc0);
}

.thunderstorm {
    background-image: linear-gradient(0deg, #e0e0e0, #757575);
}